$defaultFont: 'JetBrains Mono';
$defaultWhite: rgb(240, 240, 240);
$defaultBlack: rgb(100, 100, 100);
$defaultRed: rgb(200, 80, 70);
$defaultGreen: rgb(20, 135, 20);
$defaultBlue: rgb(70, 170, 200);
$defaultPink: rgb(200, 70, 125);
$desktopTitleSizeH2 : 18px;
$tabletTitleSizeH2 : 20px;
$mobileTitleSizeH2 : 20px;
