@media (min-width: 700px) {
    p {
        line-height: 2vh;
    }

    header {
        @include flexBoxDefault(row, inherit, inherit, 0vh, 0vh);
        height: 40vh;

        article {
            width: 40%;
            height: 100%
        }

        ul {
            @include flexBoxDefault(row, center, flex-end, 0vh, 1vh);
            width: 60%;
            height: 100%;
            padding: 5%;
        }

        li {
            @include flexBox(row);
            width: 100%;
        }

        a {
            text-transform: capitalize;
            color: $defaultWhite;
            width: 100%;
        }
    }

    nav {
        display: none;

        button {
            display: none;
        }

    }



    .about {
        >aside {
            row-gap: 1vh;
        }

        figure {
            @include flexBoxDefault(row, center, center, 0vh, 0vh);
        }

        img {
            width: 20%;
        }

        figcaption {
            aside {
                @include flexBoxDefault(row, left, center, 1vh, 1vh);
            }
        }
    }

    .features {
        article:last-child {
            @include flexBoxDefault(row, center, center, 0vh, 0vh);

            figcaption {
                row-gap: 1vh;
                padding: 5%;
            }


        }
    }

    .menu {
        >figure:last-child {
            @include flexBoxDefault(row, space-around);
            width: 100%;

            img {
                width: 45%;
            }

            figcaption {
                width: 45%;

                p {
                    text-align: start
                }
            }
        }
    }

    .gallery {
        @include flexBoxDefault(row, left, flex-start, 3vh, 3vh);
        flex-wrap: wrap;
        padding: 0%;

        figure {
            @include flexBoxDefault(column, flex-start, flex-start, 3vh, 0vh);
            width: 30%;
        }
    }

    .contact {

        >section {
            @include flexBoxDefault(row, left, flex-start, 3vh);

            article {
                width: 50%;
                padding: 5%;
            }
        }

        aside {
            width: 100%;
            @include flexBoxDefault(column, center, flex-start, 2vh);
        }
    }

    form {
        width: 50%;
        padding: 5%;
    }

    .faqs {
        row-gap: 3vh;
    }



}
